<html>

<head>
	<title>Cygnus UT Gauge</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/static/css/vuetify.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<div id="app">
	<v-app>
		<v-main>
			<v-container>
				<img src="/static/cygnus-logo.png" class="logo" />
				<h1>Ultrasonic Thickness Gauge</h1>
				<br />
				<v-tabs
			      v-model="tab"
			      align-tabs="center"
			    >
					<v-tab value="measurement">Measurement</v-tab>
					<v-tab value="settings">Settings</v-tab>
				</v-tabs>
			    
				<v-tabs-items v-model="tab">
					<v-tab-item key="measurement">
						<v-container fluid>
							<v-row>
								<v-col class="col-4 col-sm-4 col-md-4">
									<v-card height="400">
										<h2>User Controls</h2>
										<v-select
									      v-model="selectedMaterial"
									      :items="materials"
									      label="Select Material"
									      outlined
									    ></v-select>
									    <h2>Live Data</h2>
										<v-list flat>
											<v-list-item-group>
												<v-list-item>
													<v-list-item-icon><v-icon large>mdi-arrow-collapse-horizontal</v-icon></v-list-item-icon>
													<v-list-item-content>
														<v-list-item-title style="font-family:consolas;font-size:1.3em">{{thickness_str}} thickness</v-list-item-title>
													</v-list-item-content>
												</v-list-item>
												<v-list-item>
													<v-list-item-icon><v-icon large>mdi-counter</v-icon></v-list-item-icon>
													<v-list-item-content>
														<v-list-item-title style="font-family:consolas;font-size:1.3em">{{echo_count}} echoes</v-list-item-title>
													</v-list-item-content>
												</v-list-item>
												<!-- <v-list-item>
													<v-list-item-icon><v-icon large>mdi-arrow-down-bold</v-icon></v-list-item-icon>
													<v-list-item-content>
														<v-list-item-title style="font-family:consolas;font-size:1.3em">12.1 m depth</v-list-item-title>
													</v-list-item-content>
												</v-list-item> -->
											</v-list-item-group>
										</v-list>
									</v-card>
								</v-col>
								<v-col class="col-8 col-sm-8 col-md-8">
									<v-card height="400">
										
									</v-card>
								</v-col>
							</v-row>
							<v-row>
								<v-col class="col-12 col-sm-12 col-md-12">
									<v-card>
										<v-toolbar flat>
											<v-toolbar-title>Recorded Measurements</v-toolbar-title>
											<v-spacer></v-spacer>
											<v-btn v-if="selectedItems.length > 0" fab color="red" dark small icon @click="deleteSelected">
											  <v-icon>mdi-delete</v-icon>
											</v-btn>
											<v-btn color="primary" dark @click="logMeasurement">
									          Log Measurement
									        </v-btn>
										</v-toolbar>
										<v-data-table
										v-model="selectedItems"
										:headers="headers"
										:items="log"
										:items-per-page="20"
										item-key="date"
										show-select
										class="elevation-1"
										>
											<template v-slot:item.name="props">
											<v-edit-dialog
											  :return-value.sync="props.item.name"
											  @save="saveLog"
											  large
											  persistent
											>
											  {{ props.item.name }}
											  <template v-slot:input>
											    <v-text-field
											      v-model="props.item.name"
											      :rules="[max50chars]"
											      label="Edit"
											      single-line
											      counter
											    ></v-text-field>
											  </template>
											</v-edit-dialog>
											</template>
										</v-data-table>
									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</v-tab-item>
					<v-tab-item key="settings">
						<v-container fluid>
							<v-row>
								<v-col class="col-12 col-sm-12 col-md-12">
									<v-card height="400">
										<h2>Settings</h2>
										<v-select
											v-model="port"
											label="Serial Port"
											:items="['Demo Mode', '/dev/ttyUSB0', '/dev/ttyUSB1', '/dev/tty.usbserial-DP05H6FR']"
											@change="setPort($event)"
										></v-select>
										<v-select
											v-model="baud"
											label="Baud Rate"
											:items="[2400]"
											@change="setBaud($event)"
										></v-select>
										<v-switch v-model="this.enabled" inset :label="`Enable driver`" @change="setEnabled($event)"></v-switch>
									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</v-tab-item>
				</v-tabs-items>
			</v-container>
		</v-main>
	</v-app>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/vuetify.js"></script>
<script src="/static/js/axios.min.js"></script>

<script>
	Vue.config.devtools = true;
	new Vue({
		el: '#app',
		vuetify: new Vuetify(),
		data() {
			return {
				status: "",
				enabled: null,
				port: null,
				baud: 2400,
				thickness: null,
				thickness_str: null,
				echo_count: 0,
				tab: "measurement",
				max50chars: v => v.length <= 50 || 'Input too long!',
        		pagination: {},
        		materials: ['Steel', 'Aluminum'],
        		selectedMaterial: 'Steel',
				headers: [
					{ text: 'Date/Time', align: 'start', sortable: false, value: 'date' },
					{ text: 'Description (click to edit)', sortable: false, value: 'name' },
					{ text: 'Material', sortable: false, value: 'material' },
					{ text: 'Thickness', sortable: false, value: 'thickness_str' },
				],
				log: [],
				selectedItems: [],
			}
		},
		methods: {
			update() {
				axios.get('/get_data', { timeout: 1000 })
					.then((response) => {
						// handle success
						let data = response.data
						this.status = data.status
						this.enabled = data.enabled
						this.port = data.port
						this.baud = data.baud
						this.resolution = data.resolution
						this.units = data.units
						this.echo_count = data.echo_count
						this.is_valid = data.is_valid
						this.raw_thickness = data.raw_thickness
						this.thickness = data.thickness

						this.setThicknessString()
					})
					.catch((error) => {
						this.status = `Unable to talk to backend service: ${error}`
						console.log(error);
					})
			},
			setThicknessString() {
				this.thickness_str = this.thickness.toFixed(2) + " " + this.units
			},

			/* Toggles driver on/off */
			setEnabled(event) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'enable/' + event, true);
				request.send();
			},

			/* Toggles driver on/off */
			setPort(port) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'setserialport/' + encodeURIComponent(encodeURIComponent(port)), true);
				request.send();
			},

			/* Toggles driver on/off */
			setBaud(baud) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'setbaud/' + baud, true);
				request.send();
			},

			getCurrentDateTime() {
			  const currentDate = new Date();

			  const year = currentDate.getFullYear();
			  const month = String(currentDate.getMonth() + 1).padStart(2, '0');
			  const day = String(currentDate.getDate()).padStart(2, '0');
			  const hours = String(currentDate.getHours()).padStart(2, '0');
			  const minutes = String(currentDate.getMinutes()).padStart(2, '0');
			  const seconds = String(currentDate.getSeconds()).padStart(2, '0');

			  const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

			  return formattedDate;
			},

			removeLastNumberFromString(inputString) {
			  // Find the last number in the string using a regular expression
			  const regex = /(\d+)(?!.*\d)/;
			  const match = inputString.match(regex);

			  // Check if a number was found
			  if (match) {
			    // Extract the number from the match
			    const number = parseInt(match[0]);

			    // Remove the number from the string
			    const modifiedString = inputString.replace(regex, '');

			    // Return the modified string and the extracted number as an object
			    return { modifiedString, number };
			  }

			  // If no number was found, return the original string and null for the number
			  return { modifiedString: inputString, number: null };
			},

			deleteSelected() {
		      // Deletion logic here
		      this.log = this.log.filter(item => !this.selectedItems.includes(item));
		      this.selectedItems = [];
		      this.saveLog();
		    },

			logMeasurement() {
				var logName = '';

				if ( this.log.length === 0 ) {
					logName = "Logged measurement";
				}
				if ( this.log.length > 0 ) {
					var last = this.removeLastNumberFromString(this.log[0].name);
					var lastName = last.modifiedString;
					var number = last.number;

					if ( lastName !== '' ) {
						if ( number == null ) {
							logName = lastName + " 1";
						} else {
							logName = lastName + (number+1);
						}
					}
				}

				newMeasurement = {
		      		date: this.getCurrentDateTime(),
		      		name: logName,
		      		material: this.selectedMaterial,
		      		thickness: this.thickness,
		      		thickness_str: this.thickness_str
		      	}

		      	this.log.unshift(newMeasurement)
		      	this.saveLog()
		    },

		    saveLog() {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('POST', '/savelog', true);
				request.setRequestHeader('Content-Type', 'application/json');
				request.onreadystatechange = function() {
				if (request.readyState === XMLHttpRequest.DONE) {
				  if (request.status === 200) {
				    console.log(request.responseText); // Handle the response data
				  } else {
				    console.error('Error:', request.status);
				  }
				}
				};
				request.onerror = function() {
				console.error('Request error');
				};
				request.send(JSON.stringify(this.log))
			},

			loadLog() {
				const request = new XMLHttpRequest();
				request.open('GET', '/loadlog', true);

				request.onreadystatechange = () => {
				if (request.readyState === XMLHttpRequest.DONE) {
				  if (request.status === 200) {
				    const responseData = JSON.parse(request.responseText);
				    // Handle the response data
				    this.log = responseData;
				  } else {
				    console.error('Error:', request.status);
				  }
				}
				};

				request.onerror = function() {
				console.error('Request error');
				};

				request.send();
			}

		},
		mounted() {
			console.log('mounted!')
			this.loadLog()
			this.update()
			setInterval(this.update, 1000)
		}
	})

</script>

</html>
